.side-nav-bar {
  @apply w-screen laptop:w-16 min-h-max laptop:min-h-screen bg-blue700 rounded-bl-[24px] rounded-br-[24px] laptop:rounded-bl-none  laptop:rounded-tr-[40px] laptop:rounded-br-[40px] rounded-tr-none pt-12 pb-2 md:py-2  pl-4 pr-5 md:pr-3 laptop:pt-10 laptop:px-[10px] laptop:pb-6 fixed z-10 left-0 top-0;
}

.menu-item {
  @apply w-11 h-10 rounded-xl flex items-center justify-center hover:bg-blue600;
}

.hide-links {
  @apply hidden laptop:flex !important;
}

.active {
  @apply bg-blue600;
}

.dash-user-img {
  @apply rounded-[50%] w-8 h-8 overflow-hidden;
}

.dash-user-img img {
  @apply w-auto h-auto object-contain;
}

.insite-border {
  @apply w-8 h-8 border-green400 border-4 border-solid;
}

.mobile-side-box {
  @apply w-[152px] rounded-3xl bg-blue700 shadow-mdshadow p-4 absolute z-10 top-[105px] md:top-16 right-7;
}

.mobile-side-box .mobile-dash-links {
  @apply flex items-center gap-3 p-3;
}

/* b2b */

.expand-flex-box {
  @apply flex items-center laptop:items-start justify-between;
}

.expand-flex-box.side-nav-bar {
  @apply w-screen  min-h-max laptop:min-h-[960px] laptop:w-[266px] bg-blue700 rounded-bl-[24px] rounded-br-[24px] laptop:rounded-bl-none  laptop:rounded-tr-[40px] laptop:rounded-br-[40px] rounded-tr-none pt-2 pb-2 laptop:py-2  pl-4 pr-5 md:pr-3 laptop:pt-10 laptop:px-[10px] laptop:pb-6 absolute z-10 left-0 top-0;
}

.hemergy-logo-link {
  @apply w-auto laptop:w-full flex justify-center;
}
.expand-menu-item {
  @apply flex gap-3 items-center w-auto laptop:w-[242px] hover:bg-blue600 rounded-xl py-[10px] px-2 laptop:px-[12px];
}
.expand-side-bar-text {
  @apply text-white hidden laptop:block;
}

.small-link {
  @apply w-auto laptop:w-[200px] !important;
}

.log-out-icon {
  @apply w-auto h-[50px] cursor-pointer !important;
}
