@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */

@import './layoyt';
@import './typography';
@import './components';
@import './authentications';
@import './dashboard/index.css';

.loader-hemergy {
  position: fixed;
  background-color: rgb(78, 98, 238);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.w3a-parent-container #w3a-modal .w3a-header__logo img {
  height: auto;
  width: 17.5rem !important;
  margin-left: 135px;
}

.w3a-footer {
  display: none !important;
}

.w3a-spinner-power {
  display: none !important;
}

